/* width/height here control if the pixels are stretched/compressed on browser (actual viewing size) */
/* if this is more than the html size, then image is stretched (or if vice versa, image looks compressed) */
canvas {
    width: 900px; 
    height: 450px;
    /* image-rendering: -moz-crisp-edges; */
    /* image-rendering: -webkit-crisp-edges; */
    image-rendering: pixelated;
    /* image-rendering: crisp-edges; */
  }
